body{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
display: block;
background-color: grey;
}

.heading{
    text-decoration: underline;
    text-align: center;
}

#lunar-par{
    text-align: center;
    color: white;
}

img{
  display: block;
  padding: 20px 30px;
  margin: 20px auto;  
  height: 250px;
  
}